*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    background-color: #202631;
    color: #14fff1;
    font-family: "itin", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16%;
    margin: 28px;
    flex-direction: column-reverse;
}
body h1 {
margin: 20px;
padding: 26px;
font-size:  0px;
}


.neon {
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    color: #14fff1;
    border: 8px solid #14fff1;
    padding: 16px 64px;
    border-radius: 16px;
    text-shadow: 0 0 8px rgb(255, 255, 255, 0.3), 0 0 29px #14fff1;
    box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;
    position: relative;
}

.neon::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14fff1;
    left: 0;
    top: 120%;
    transform: perspective(64px) rotatex(40deg) scale(1,0.35);
    filter: blur(64px);
    opacity: 0.7;
}

.neon::after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #14fff1;
box-shadow: 0 0 128px 32px #14fff1;
z-index: -1;
opacity: 0;
transition: opacity 100ms linear;

}
.neon:hover::after,
.neon:focus::after {
    opacity: 1;
}
h2.hts {
    margin: 16px;
    padding: 20px;
}

.neon:hover::before,
.neon:focus::before {
    opacity: 1;
}

.neon:hover,
.neon:focus {
    color: #202631;
    text-shadow: none;
}

body p {
    display: contents;
    align-items: center;
}
div {
    text-align: end;
}